/zoom.conf
/zoomus.conf
/libreoffice/
/rockbox.org/
/user-dirs*
/vlc/
/totem/
/Alex Spataru/
/Signal/
/Clementine/
/Element/
/Freecad/
/GIMP/
/GNU Radio/
/GeoGebra/
/MuseScore/
/Raspberry Pi/
/Scan Tailor/
/VirtualBox/
/FreeCAD/
/LibreCAD/
/abiword/
/backintime
/QtProject.conf
/Trolltech.conf
/fontforge/
/gh/
/ghb/
/eog/
/knock/
/beets/
/configstore/
/cef_user_data/
/MusicBrainz/
/scantailor-advanced/
*~
/htop/
/pavucontrol.ini
waybar.bak
/waybar
/yarn/
/wireshark/
/whipper
/weston.ini
/digikamrc
/sigrok/
*.bak*
rncbc.org/
/evince/
/qucs/
/gtk-*/
/gnuplot
/kwalletrc
/calibre/
/chromium/
/google-chrome/
/qutebrowser/
/kicad/
/keepassxc
/geeqie/
/cmus/
/hypr/hyprland.conf
/darktable/
/icedtea-web/
/mimeapps.list
/obs-studio/
/pcmanfm/
/dconf/
/inkscape/
/octave/
/paperwork*
/pipewire/
pulse/
