/* Solarized dark */

@define-color primaryContent  #839496;       /* base 0 */
@define-color secondaryContent #586e75;      /* base 01 */
@define-color backgroundHighlights #073642;  /* base 02 */
@define-color background #002b36;            /* base 03 */

window {
    margin: 0px;
    border: 1px solid @secondaryContent;
    background-color: @background;
}

#text:selected {
  background-color: @backgroundHighlights;
}

#input, #inner-box, #outer-box, #text {
    margin: 5px;
    border: none;
}

#input {
    color: @primaryContent;
    background-color: @backgroundHighlights;
}

#inner-box {
    background-color: @background;
}

#outer-box {
    background-color: @background;
}

#scroll {
    margin: 0px;
}

#text {
    color: @primaryContent;
}

#entry:selected {
    background-color: @backgroundHighlights;
}
