/* Solarized dark */

@define-color primaryContent  #657b83;       /* base 00*/
@define-color secondaryContent #93a1a1;      /* base 1 */
@define-color backgroundHighlights #eee8d5;  /* base 2 */
@define-color background #fdf6e3;            /* base 3 */

window {
    margin: 0px;
    border: 1px solid @secondaryContent;
    background-color: @background;
}

#text:selected {
    background-color: @backgroundHighlights;
}

#input, #inner-box, #outer-box, #text {
    margin: 5px;
    border: none;
}

#input {
    color: @primaryContent;
    background-color: @backgroundHighlights;
}

#inner-box {
    background-color: @background;
}

#outer-box {
    background-color: @background;
}

#scroll {
    margin: 0px;
}

#text {
    color: @primaryContent;
}

#entry:selected {
    background-color: @backgroundHighlights;
}
